h5{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: blue;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: darkslategrey;
    margin-bottom: 0px;
}

footer .col-sm-4{
    color: white;
}

a:link{

color: white;
text-decoration: none;
align-content: center;
}

li{

    color: white;
    text-decoration: none;
    }

footer .ref{
    list-style: none;
}
footer .ref a{
    color: aliceblue;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}

.btn-reserva{
    width: 100%;
}

.footer-widget.widget_text {
    text-align: center;
    }